@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.blog-section h1, .actual-section h1, .why-we h2 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1128px;
  width: 78.68%;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.418%, rgb(27, 30, 34) 80.667%), url("../images/forest.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 33px 0 71px 0;
}

.header-top-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.header-top-part .left-header {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header-top-part .header-img {
  width: 183px;
  height: 50px;
}
.header-top-part .header-img img {
  width: 100%;
}
.header-top-part span {
  color: rgba(196, 196, 196, 0.5);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
@media screen and (max-width: 344px) {
  .header-top-part .language {
    display: none;
  }
}
.header-top-part .language span:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.header-top-part .header-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-top-part .header-menu a {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}
@media screen and (max-width: 1230px) {
  .header-top-part .header-menu a {
    display: none;
  }
}
@media screen and (max-width: 1230px) {
  .header-top-part .header-menu button {
    display: none;
  }
}
.header-top-part .header-menu .burger {
  display: none;
  width: 50px;
  height: 50px;
}
.header-top-part .header-menu .burger img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1230px) {
  .header-top-part .header-menu .burger {
    display: block;
  }
}

.animated-button {
  width: 146px;
  height: 48px;
  background-color: transparent;
  border: 1px #FFB800 solid;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  transition: 0.2s;
}

.animated-button:hover {
  background-color: #FFB800;
  color: black;
  cursor: pointer;
}

.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 205px;
}
@media screen and (max-width: 1023px) {
  .explore {
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 65px;
  }
}
.explore .explore-text-part {
  width: 42%;
}
@media screen and (max-width: 1023px) {
  .explore .explore-text-part {
    width: 100%;
    text-align: center;
  }
}
.explore .explore-text-part h1 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 26px;
}
@media screen and (max-width: 1023px) {
  .explore .explore-text-part h1 {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .explore .explore-text-part h1 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 33px;
  }
}
.explore .explore-text-part p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
}
@media screen and (max-width: 400px) {
  .explore .explore-text-part {
    font-size: 10px;
    line-height: 11px;
  }
}
.explore .explore-quick-search {
  width: 44.33%;
  padding: 50.76px 70px 55px 70px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background: rgba(51, 51, 51, 0.25);
}
@media screen and (max-width: 1023px) {
  .explore .explore-quick-search {
    padding: 25px 30px 26px 30px;
    width: 60%;
  }
}
@media screen and (max-width: 476px) {
  .explore .explore-quick-search {
    width: 100%;
  }
}
.explore .explore-quick-search h2 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: clamp(15px, 4vw, 20px);
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 23px;
}
.explore .explore-quick-search form {
  display: flex;
  flex-direction: column;
  gap: 21.5px;
}
.explore .explore-quick-search input {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: transparent;
  padding: 9.4px 7px 11.56px 13px;
  color: aliceblue;
}
.explore .explore-quick-search input[type=number]::-webkit-inner-spin-button,
.explore .explore-quick-search input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.explore .explore-quick-search .where {
  -webkit-appearance: none;
  background: url("../images/search.png") no-repeat 95%/17px;
}
.explore .explore-quick-search ::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.explore .explore-quick-search ::placeholder {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.explore .explore-quick-search select {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: transparent;
  padding: 9.4px 7px 11.56px 13px;
  color: rgb(255, 255, 255);
}
.explore .explore-quick-search select option {
  background-color: rgb(27, 30, 34);
}
.explore .explore-quick-search .tour-type {
  -webkit-appearance: none;
  background: url("../images/arrow.png") no-repeat 95%/17px;
}
.explore .explore-quick-search .inline-input {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 1428px) {
  .explore .explore-quick-search .inline-input {
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) {
  .explore .explore-quick-search .inline-input {
    flex-direction: row;
  }
}
@media screen and (max-width: 880px) {
  .explore .explore-quick-search .inline-input {
    flex-direction: column;
  }
}
.explore .explore-quick-search button {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px rgb(255, 184, 0) solid;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  transition: 0.2s;
}
.explore .explore-quick-search button:hover {
  background: rgb(255, 184, 0);
  color: rgb(51, 51, 51);
  cursor: pointer;
}

.why-we h2 {
  margin-bottom: 21px;
}

.reasons {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 23%);
}
@media screen and (max-width: 685px) {
  .reasons {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 48%);
    gap: 13px;
  }
}
.reasons .reason-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px 16px 12px;
}
.reasons .reason-part img {
  width: 72px;
  height: 72px;
  margin-bottom: 17px;
}
.reasons .reason-part p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: clamp(15px, 2vw, 20px);
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

main {
  background: rgb(27, 30, 34);
}

.actual-section {
  padding-bottom: 72px;
}
.actual-section h1 {
  margin-bottom: 45.13px;
}

.actual-cards {
  display: flex;
  gap: 24.11px;
  flex-wrap: wrap;
  justify-content: center;
}

.actual-card {
  width: 358.6px;
  height: 433.21px;
  border-radius: 4px;
  background: rgb(35, 40, 47);
  transition: 0.2s;
}
.actual-card h2 {
  color: rgb(255, 255, 255);
}
.actual-card p {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 390px) {
  .actual-card {
    width: 100%;
    height: 533px;
  }
}

.actual-card:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}
.actual-card:hover h2 {
  color: rgb(51, 51, 51);
}
.actual-card:hover p {
  color: rgb(51, 51, 51);
}
.actual-card:hover button {
  color: rgb(51, 51, 51);
}

.top-actual-card {
  height: 50%;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: end;
}

.line {
  display: flex;
  margin-bottom: 25.07px;
}
.line .price {
  background: rgb(255, 184, 0);
  width: 78.35px;
  height: 32.09px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line .price p {
  color: rgb(27, 30, 34);
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
}
.line .price p span {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.line .date {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 6px 6px 0px;
  background: rgb(27, 30, 34);
  opacity: 0.75;
  width: 170.75px;
  height: 32.09px;
}
.line .date p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.card-1 {
  background-image: url("../images/actualCards/card1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-2 {
  background-image: url("../images/actualCards/card2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-3 {
  background-image: url("../images/actualCards/card3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-4 {
  background-image: url("../images/actualCards/card4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-5 {
  background-image: url("../images/actualCards/card5.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-6 {
  background-image: url("../images/actualCards/card6.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom-actual-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16.04px 20.09px 24.07px 20.09px;
  height: 50%;
}
.bottom-actual-card h2 {
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.bottom-actual-card p {
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}
.bottom-actual-card button {
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  width: 79.35px;
  opacity: 0.5;
}
.bottom-actual-card button:hover {
  opacity: 1;
  color: rgb(51, 51, 51);
}

.actual-button {
  display: flex;
  justify-content: center;
  margin-top: 49px;
}

.statistic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/mountain.png");
  background-repeat: no-repeat;
  padding: 61px 0 68px 0;
  background-size: cover;
}

.line-stat {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 22%);
}
@media screen and (max-width: 1080px) {
  .line-stat {
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(2, 48%);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 530px) {
  .line-stat {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 23%);
  }
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat h1 {
  color: rgb(255, 184, 0);
  font-family: "Montserrat", serif;
  font-size: 78px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1100px) {
  .stat h1 {
    font-size: 60px;
  }
}
.stat p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.blog-section {
  padding: 62px 0;
}
.blog-section h1 {
  margin-bottom: 44px;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: 480px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (max-width: 1085px) {
  .blog-cards {
    justify-content: center;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: 340px 480px;
    row-gap: 24px;
  }
}
@media screen and (max-width: 534px) {
  .blog-cards {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 340px 480px 480px;
  }
}

.blog-card-big {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/smallCards/mountine.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 15px 0 15px;
  border-radius: 4px;
  transition: 0.2s;
}
@media screen and (max-width: 534px) {
  .blog-card-big {
    grid-column-end: 2;
  }
}
.blog-card-big h2 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (max-width: 445px) {
  .blog-card-big h2 {
    font-size: 20px;
  }
}
.blog-card-big p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}

.blog-card-big:hover {
  transform: scale(1.05);
}

.blog-card-small {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(35, 40, 47);
  width: 100%;
  transition: 0.2s;
}
.blog-card-small h2 {
  color: rgb(255, 255, 255);
}
.blog-card-small p {
  color: rgb(255, 255, 255);
}
.blog-card-small .blog-card-img-part {
  height: 216px;
  width: 100%;
}
.blog-card-small .blog-card1 {
  background-image: url("../images/smallCards/wood.png");
  background-size: cover;
}
.blog-card-small .blog-card2 {
  background-image: url("../images/smallCards/hiker.png");
  background-size: cover;
}
.blog-card-small .blog-card-text-part {
  padding: 20px 19px 21px 20px;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-card-small .blog-card-text-part h2 {
  font-family: "Montserrat", serif;
  font-size: clamp(15px, 1vw, 20px);
  font-weight: 500;
}
.blog-card-small .blog-card-text-part p {
  font-family: "Montserrat", serif;
  font-size: clamp(5px, 1vw, 14px);
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 1085px) {
  .blog-card-small .blog-card-text-part p {
    font-size: 14px;
  }
}
.blog-card-small .date-comments-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-card-small .date-comments-rate p {
  font-size: clamp(10px, 1vw, 13px);
  font-weight: 400;
  opacity: 50%;
}
.blog-card-small .date-comments-rate .comments {
  display: flex;
  align-items: center;
  gap: 7px;
}
.blog-card-small .date-comments-rate .comments img {
  width: 12px;
  height: 12px;
}
.blog-card-small .date-comments-rate .rate {
  display: flex;
  align-items: center;
  gap: 6px;
}
.blog-card-small .date-comments-rate .rate .icon {
  width: 15px;
  height: 15px;
}
.blog-card-small .date-comments-rate .comments:hover p {
  opacity: 100%;
}
.blog-card-small .date-comments-rate .rate:hover p {
  opacity: 100%;
}
.blog-card-small .date-comments-rate .rate:hover .icon path {
  fill: #FFB800;
}

.blog-card-small:hover {
  transform: scale(1.05);
}

.feedback-section {
  padding-bottom: 62.22px;
}
.feedback-section h1 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  margin-bottom: 47px;
}
.feedback-section p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: clamp(16px, 3vw, 26px);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  max-width: 924px;
}
.feedback-section span {
  color: rgb(255, 184, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}
.feedback-section .feedback-icon {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}
.feedback-section .feedback-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.feedback-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swipe {
  width: 48px;
  height: 8px;
  margin-top: 32px;
}

footer {
  background-color: rgb(27, 30, 34);
  padding-bottom: 30px;
}

.footer-layout {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1010px) {
  .footer-layout {
    flex-wrap: wrap;
    row-gap: 24px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.contact .field {
  display: flex;
  gap: 27.26px;
}
.contact .type-contact {
  color: rgb(255, 184, 0);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.contact span {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.contact .invisible {
  color: transparent;
}
.contact .field-sotials {
  display: flex;
  gap: 24px;
}
.contact .field-sotials img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */